@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


body{
    margin: 0;
    background: linear-gradient(to bottom right, white,hsl(332, 39%, 94%));
    font-size: 16px;
    height: 100vh;
}
.container{
    background-color: hsl(320, 12%, 95%);
    background-blend-mode: color;
    min-width: 375px;
}

.logo{
    width:150px;
    margin-top: 6%;
    padding-left:11%;
}
.contenido{
    margin: auto;
    text-align: center;
    margin-top: -5%;
    
}
.down{
    margin: auto;
    text-align: -webkit-center;
    margin-left: -100px;
    
}
.correo{
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 235px;    
}



.demo{
    color: #b71616cf;
    margin-top: -40px;
    font-family: Josefin Sans;
    font-size: 14px;
}
h1{
    color: #a826268a;
    font-size: 63px;
    font-weight: 300;
    font-family: Josefin Sans;
    letter-spacing: 15px;
    position: relative;
    top: 95px;
}
h2{
    font-family: Josefin Sans;
    font-size: 63px;
    font-weight: 600;
    letter-spacing: 13PX;
    line-height: 55px;
    padding-top: 55px;
}
h3{
    font-family: Josefin Sans;
    font-size: 63px;
    font-weight: 600;
    letter-spacing: 13PX;
    line-height: 55px;
    position: relative;
    top: -48px;
}
.texto{
    font-size: 16px;
    font-weight: 500;
    color: #a826268a;
    font-family: Josefin Sans;
    letter-spacing: -0.5px;
    line-height: 28px;
    position: relative;
    bottom: 80px;
    padding-right: 8%;
    text-align: center;
    padding-left:8%;
}

input{
    width: 300px;
    padding: 10px;
    font-size: 14px;
    padding-left: 40px;
    outline: none;
    border-radius: 50px 50px 50px 50px;
    border-color:#ef9b9ba8 ;
    border-width: 1px;
    height: 25px;
    background: linear-gradient(to bottom right, white,hsl(332, 39%, 94%));
    position: relative;
    bottom: 50px;
    font-family: Josefin Sans;
}
button{
    width:80px;
    background: linear-gradient(to bottom right, #ef9b9ba8,#a826269e);
    border: none;
    border-radius: 50px 50px 50px 50px;
    padding: 11px;
    outline: none;
    margin: -85px;
    cursor: pointer;
    position: relative;
    bottom: 45px;
}
::-webkit-input-placeholder {
    color: #ef9b9ba8 ;
}

.mujer_mobile{
    width: -webkit-fill-available;
    padding-top:8%;
}
 
.women{
    width: 100%;
    display: none;
}


@media only screen and (min-width:875px) {
    .container{
    display: grid;
    grid-template-columns: 55% auto;
    background-image:initial;
    }
    .women{
    height:100vh;
    display:initial
    }

    .mujer_mobile{
        visibility: hidden;
        position: relative;
    }
    .left{
        margin-top:10%;
        margin-left: 20%;
       /* position:relative;
        left: 100px;
        width: calc(100% - 100px);*/
    }
    .logo{
        margin-top: 2%;
        padding-left:0%;
        width:150px;
    }
    .contenido{
        position: absolute;
        top: 12%;
        text-align: left;
        margin: auto;
    }
    
   .texto{
    padding-right: 60%;
    padding-left: 0%;
    text-align:left;
   }
   .down{
    position: absolute;
    top: 83%;
    margin: auto;
   }
   button{
    margin: -80px;
   }
   
    
    
   
    
}