@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body{
    margin: 0;
    font-family: system-ui;
    background: linear-gradient(to bottom right, white,hsl(332, 39%, 94%));
    font-size: 18px;
    height: 100vh;
}
.container{
    background: linear-gradient(to bottom right, white,hsl(332, 39%, 94%));
    display:grid;
    grid-template-columns: 55% auto;
}
.logo{
    width:120px;
    margin-top: 70px;
    padding-left: 250px;
}
h1{
    color: #a826268a;
    font-size: 50px;
    font-weight: 10;
    font-family: inherit;
    letter-spacing: 13px;
    padding-left: 250px;
    position: relative;
    top: 75px;
    
}
h2{
    font-family: inherit;
    font-size: 50PX;
    font-weight: 500;
    letter-spacing: 13PX;
    padding-left: 250px;
    line-height: 55px;
    padding-top: 30px;
}
h3{
    font-family: inherit;
    font-size: 50PX;
    font-weight: 500;
    letter-spacing: 13PX;
    padding-left: 250px;
    line-height: 55px;
    position: relative;
    top: -48px;
}
.texto{
    font-size: 13px;
    color: #a826268a;
    font-family: inherit;
    letter-spacing: -0.5px;
    padding-left: 250px;
    line-height: 22px;
    position: relative;
    bottom: 70px;
    padding-right: 180px;
}
.down{
    padding-left: 250px;
}
input{
    width: 300px;
    padding: 8px;
    font-size: 10px;
    padding-left: 25px;
    outline: none;
    margin: 0px;
    border-radius: 50px 50px 50px 50px;
    border-color:#ef9b9ba8 ;
    border-width: 1px;
    height: 25px;
    background: linear-gradient(to bottom right, white,hsl(332, 39%, 94%));
    position: relative;
    bottom: 50px;
}
button{
    width:80px;
    background: linear-gradient(to bottom right, #ef9b9ba8,#a826269e);
    border: none;
    border-radius: 50px 50px 50px 50px;
    padding: 9px;
    outline: none;
    margin: -85px;
    cursor: pointer;
    position: relative;
    bottom: 45px;

}
::-webkit-input-placeholder {
    color: #ef9b9ba8 ;
}


   

 